[user]
	name = 
	email = 
	username = cstrp
[init]
	defaultBranch = main
[core]
	editor = neovim
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	pager = delta
[sendemail]
	smtpencryption = tls
	smtpserver = smtp.gmail.com
	smtpuser = 
	smtppass = 
	smtpserverport = 587
[web]
	browser = firefox-nightly
[rerere]
	enabled = 1
	autoupdate = 1
[color]
	ui = auto
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[delta]
	features = line-numbers decorations
	line-numbers = true
[delta "decorations"]
	minus-style = red bold normal
	plus-style = green bold normal
	minus-emph-style = white bold red
	minus-non-emph-style = red bold normal
	plus-emph-style = white bold green
	plus-non-emph-style = green bold normal
	file-style = yellow bold none
	file-decoration-style = yellow box
	hunk-header-style = magenta bold
	hunk-header-decoration-style = magenta box
	minus-empty-line-marker-style = normal normal
	plus-empty-line-marker-style = normal normal
	line-numbers-right-format = "{np:^4}│ "
[github]
	user = cstrp 
	token = 
[gitflow "prefix"]
	versiontag = v
[sequence]
	editor = interactive-rebase-tool
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = store
[push]
	autoSetupRemote = true
[pull]
	rebase = true
