* {
	font-family: JetBrainsMono;
	color: #e5e9f0;
	background: transparent;
}

#window {
	background: rgba(0, 0, 0, 0.5);
	margin: auto;
	padding: 10px;
}

#input {
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 15px;
}

#outer-box {
	padding: 20px;
}

#img {
	margin-right: 6px;
}

#entry {
	color: aliceblue;
	padding: 10px;
	border-radius: 5px;
}

#entry:selected {
	color: #e5e9f0;
	background: linear-gradient(90deg, #b072d1, transparent);
}

#text {
	margin: 2px;
}